
$fa-font-path: "../fonts" !default;
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


$web-font-path: "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";
$font-family-serif:   'Montserrat', sans-serif;
$font-family-base: $font-family-serif;

@import "colors";
@import "bootstrap";

body {
  font-feature-settings: "liga";
}
.fw-700 {
  font-weight: 700 !important;
}

#nav {
  min-width: 170px;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.tinygoat-img {
  width: 45px;
  margin-right: $card-columns-gap;
  img:hover {
    animation-name: spin;
    animation-duration: 2s;
  }
}


.tinygoat-lbl {
  margin-top: 8px;
  position: absolute;
  text-transform: lowercase;
}

img {
  max-width: 100%;
  height: auto;
}

@include media-breakpoint-down(md) {
  #expert-btn {
    font-size: 14px !important;
    padding: 15px 10px !important;
  }
}



#clients img {
  width: 245px;
  opacity: 0.7;
}

.description {
  font-weight: 400;
}


#particles-js {
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

h1,h2,h3,h4,h5,h6 {
  color: $light;
}

.card-profile .card-avatar img, .card-testimonial .card-avatar img {
  border-radius: 0 !important;
}

.text-cyan {
  color: $cyan !important;
}

.underline {
  text-decoration: underline !important;
}

@import "responsive";
